<% include forms/header %>

  <div class="back-link">
    <a href="/projects/<%=project.id%>" class="btn btn-primary">Back</a>
  </div>
  <div class="register-container animate-panel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center m-b-md">
          <h3>Edit Project</h3>
        </div>
        <div class="hpanel">
          <div class="panel-body">
            <form action="/projects/<%=project.id%>?_method=PUT" id="loginForm" method="POST">
              <div class="row">
                <div class="form-group col-lg-12">
                  <label>Name</label>
                  <input type="" value="<%=project.name%>" id="" class="form-control" name="name" required>
                </div>
                <div class="form-group col-lg-12">
                  <label>Description</label>
                  <input type="" value="<%=project.description%>" id="" class="form-control" name="description" required>
                </div>
                <div class="form-group col-lg-6">
                  <label>Status</label>
                  <input type="" value="<%=project.status%>" id="" class="form-control" name="status" required>
                </div>
                <div class="form-group col-lg-6">
                  <label>Avatar</label>
                  <input type="" value="<%=project.avatar%>" id="" class="form-control" name="avatar" required>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <strong>The_ReFactory</strong> <br/> Migration Analytics - Simplified <br/> 2017
      </div>
    </div>
  </div>

  <% include forms/footer %>
